.list-comment {
  padding: 40px;
  margin: 15px;
}

.list-comment h2 {
  font-weight: bold;
  color: white;
  display: inline-block;
  position: relative;
  font-weight: 600;

  color: grey;
  padding-bottom: 5px;
  border-bottom: 3px solid orange; /* màu gạch dưới */
}
.list-comment .comment-details {
  background-color: white;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.list-comment .comment-details .user-comments img {
  width: 30px;
  height: auto;
}

.user-comment {
  display: flex;
  align-items: center;
  gap: 8px; /* khoảng cách giữa ảnh và tên */
}

.user-comment img {
  margin-bottom: 10px;
  width: 32px; /* 👈 giảm kích thước ảnh */
  height: 32px;
  border-radius: 50%; /* bo tròn ảnh cho đẹp */
  object-fit: cover; /* giữ tỉ lệ ảnh */
  border: 1px solid #ccc; /* đường viền nhẹ */
}
.post-detail-display-comment h2 {
  border-bottom: 1px solid grey;
}

.delete-comment {
  border: none;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.5s ease;
}

.delete-comment:hover {
  background-color: orange;
  color: white;
}
