

.inner-introduce{
    
    border-bottom: 1px solid ;
    padding: 30px 15px;
}
.inner-introduce p{
    color: black;
    font-size: 20px;
    padding: 10px;

}
.introduce-left{
    border-right: 1px solid black;
    padding-right: 0;
}

.inner-introduce h1{
    color: black;
    font-weight: 700;
    padding: 10px;
    font-size: 60px;
}

.inner-statistic{
    padding: 30px;
}

.inner-statistic .row h1{
    color:black;
    
}
.inner-statistic .row p{
    color: black;
}

.inner-statistic-1, .inner-statistic-2{
    border-right: 1px solid black;
}
.introduction-section {
    
  border-bottom: 1px solid black;
  
}

