/* === WriteBlog.css === */

.write-blog-detail {
  background: white;
  min-height: 100vh;
  padding: 40px 0;
}

.inner-wrap-write {
  max-width: 900px;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  padding: 40px 50px;
}

.title-write-blog h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #1e293b;
}

.form-write-blog form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.write-blog-detail .input-group-text {
  width: 150px;
  font-weight: 600;
  background-color: #f8fafc;
  color: #334155;
  border: 1px solid #cbd5e1;
}

.write-blog-detail .form-control,
.form-select {
  border: 1px solid #cbd5e1;
  border-radius: 8px !important;
  transition: all 0.2s ease;
}

.write-blog-detail .form-control:focus,
.form-select:focus {
  border-color: orange;
  box-shadow: 0 0 0 0.2rem rgba(233, 107, 24, 0.25);
}

.write-blog-detail textarea.form-control {
  resize: vertical;
  font-size: 15px;
}

.button-post .btn {
  font-size: 30px;
  margin-top: 30px;
  padding: 12px 25px;
  border: none;
  border-radius: 8px;
  background-color: orange;
  color: white;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-post .btn:hover {
  background-color: white;
  color: orange;
  border: 1px solid orange;
  font-weight: 600;
}

.write-blog-detail input::placeholder,
textarea::placeholder {
  font-weight: 400;
  color: #161212;
  opacity: 0.7;
}
