.footer-section{
    padding: 30px;
    border-top: 1px solid grey;
    margin-top: 50px;
}
  

.footer-display {
  display: flex;
}

.footer-list {
  flex: 1 1 20%;
  text-align: center;
}

.footer-list h5{
    margin-top: 15px;
    color: black

}
.footer-list ul{

  display: flex;
  flex-direction: column;
}

.footer-list ul li{
    color: grey;
    margin: 5px;
}

.end p{
    color: grey;
}
.end {
    border-top: 1px solid grey;
}