

.my-blog .post-img {
 
  padding: 30px;
}

.my-blog .row .post-img img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

.post-update-and-delete{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.post-update-and-delete .btn{
    margin: 20px;
}