.nav-link {
  font-size: 25px;
  font-weight: bold;
  padding: 30px;
}

.navbar {
  width: 100%;
}
.container-fluid {
  background-color: black;
  margin: 0;
  padding: 0;
}

ul {
  display: flex;
  padding: 35px;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 0;
}

ul li {
  color: white;
  font-weight: 500;
}
/* 
.list-page .link {
  font-size: 25px;
  background-color: orange;
  padding: 10px;
  border-radius: 25px;
  transition: background-color 0.5s ease;
}
.list-page .link:hover {
  background-color: white;
  color: orange;
} */
.list-page .link {
  position: relative;
  font-size: 25px;

  padding: 10px;
  border-radius: 25px;
  transition: background-color 0.5s ease;
  text-decoration: none;
}

/* gạch chân ẩn ban đầu */
.list-page .link::after {
  content: "";
  position: absolute;
  bottom: 5px; /* cách mép dưới một chút */
  left: 0;
  width: 0;
  height: 3px;
  background-color: orange;
  transition: width 0.3s ease;
  border-radius: 2px;
}

/* hover hiện gạch chân */
.list-page .link:hover {
  color: orange;
}

.list-page .link:hover::after {
  width: 100%;
}

.inner-contact button {
  display: inline-block;
  padding: 10px;
  color: black;
  background-color: orange;
  border-radius: 25px;
  transition: background-color 0.6s ease-in-out;
  margin:20px
}
.inner-contact button:hover {
  background-color: white;
  color: orange;
  border: 1px solid orange;
}
.list-page button {
  padding: 10px;
  border-radius: 20px;
  transition: background-color 0.5s ease;
}
.list-page button:hover {
  background-color: black;
  border: 1px solid white;
  color: white;
}

.link-to-home,
.link-to-news {
  text-decoration: none;
  color: white;
}

.link-to-home:hover,
.link-to-news:hover {
  color: orange;
}


.navbar .inner-contact .inner-display-name{
  color: orange;
  padding: 10px 0;
}

.navbar .inner-contact .inner-display-name h5{
  position: absolute;
  top: 15;
}



.write-blog{
  font-size: 25px;
  font-weight: 600;
  color: white;
  text-decoration: none;
  padding: 10px;


  transition: background-color 0.5s ease;
}


.my-blog{
  font-size: 25px;
  font-weight: 600;
  color: white;
  text-decoration: none;
  padding: 10px;


  transition: background-color 0.5s ease;
}


/* .write-blog:hover{
  background-color: white;
  color: orange;
} */