

.introduction-title{
    padding: 50px;
    
}

.introduction-title h1{
    color: black;
    font-size: 60px;
}

.introduction-title p{
    color: grey;
    margin-top: 20px;
}

.newsintroduction-section{
    border-bottom: 1px solid grey;
}

